<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shri Balaji Weddings and Events</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	 <link href="fonts/css/fontawesome.min.css" rel="stylesheet" >
	<link href="fonts/css/brands.min.css" rel="stylesheet" />
    <link href="fonts/css/solid.min.css" rel="stylesheet" />
	<link href="css/global.css" rel="stylesheet">
	<link href="css/blog.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

 <section id="header">
<nav class="navbar navbar-expand-md navbar-light  p-0 pt-2 pb-2" id="navbar_sticky">
  <div class="container-xl">
    <a class="p-0 navbar-brand fw-bold me-0 family_1 col_red" href="index.html"><i class="fa fa-heart me-1 col_brown"></i> Shri Balaji<br>
<span class="family_2 fw-normal font_14 col_brown">Weddings and Events</span>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	   <ul class="navbar-nav mb-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">About us</a>
        </li>
		
		<li class="nav-item">
          <a class="nav-link active" href="/contact">Contact </a>
        </li>
      </ul>
	 
    </div>
  </div>
</nav>
</section>

<div class="center_main position-relative">
<section id="center" class="pt-5 pb-5 center_o bg_light">
 <div class="container-xl">
  <div class="row center_o1 text-center">
   <div class="col-md-12">
     <h1 class="font_50">Contact Us</h1>
	 <span class="col_brown icon_dove fs-2"><i class="fa fa-dove"></i></span>
	 <ul class="mt-3 mb-0">
		    <li class="d-inline-block"> <a href="/home">Home</a></li>
			<li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block col_brown"> Contact Us</li>
		  </ul>
   </div>
  </div>
 </div>
</section>

<section id="center_top">
	  <div class="container-xl">
	   <div class="row">
		<div class="col-md-12"></div>
	   </div>
	  </div>
	 </section>

   <section id="center_bottom">
  <div class="container-xl">
   <div class="row">
    <div class="col-md-12"></div>
   </div>
  </div>
 </section>
</div>

<section id="contact" class="p_3">
 <div class="container-xl">
  <div class="contact_1 row">
    <div class="col-md-4 p-0">
	  <div class="contact_1l shadow_box p-4">
	    <h4>Address One</h4>
		<p class="mt-3">Rajendra Nagar, Rau, Indore, Madhya Pradesh</p>
		<hr>
		<h6 class="mb-0"><a class="col_brown" href="#">View On Google Map</a></h6>
	  </div>
	</div>
	<div class="col-md-4 p-0">
	  <div class="contact_1l shadow_box bg_brown p-4 contact_1lo">
	    <h4 class="text-white">Address Two</h4>
		<p class="mt-3 text-light">Caps Town, Pigdambar, Indore, Madhya Pradesh 453331</p>
		<hr>
		<h6 class="mb-0"><a class="text-white" href="https://www.google.com/maps/place/Caps+Town+colony/@22.6134796,75.7997612,17z/data=!3m1!4b1!4m6!3m5!1s0x3962f95746876463:0xd2941eee959f5b9f!8m2!3d22.6134796!4d75.7997612!16s%2Fg%2F11twszts07?entry=ttu&g_ep=EgoyMDI1MDYyMy4yIKXMDSoASAFQAw%3D%3D">View On Google Map</a></h6>
	  </div>
	</div>
	<div class="col-md-4 p-0">
	  <div class="contact_1l shadow_box p-4">
	    <h4>Email & Office Hours</h4>
		<p class="mt-3">Mon – Sat: 9.00am to 7.00pm <br>
Sunday: Closed</p>
		<hr>
		<h6 class="mb-0"><a class="col_brown" href="mailto:shribalajiweddingsandevents@gmail.com#">shribalajiweddingsandevents@gmail.com</a></h6>
	  </div>
	</div>
  </div>  
  <div class="contact_2 row mt-5">
    <div class="col-md-5">
	 <div class="contact_2l">
	   <h5 class="col_brown">Wedding Attend</h5>
	   <h1 class="mt-3">It’s Your Turn</h1>
	   <p class="mt-3 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	   <div class="contact_2li row">
	     <div class="col-md-2">
		   <div class="contact_2lil text-center">
		     <span class="col_brown font_50 lh-1"><i class="fa fa-map"></i></span>
		   </div>
		 </div>
		 <div class="col-md-10">
		   <div class="contact_2lir px-4">
		     <h4>Location</h4>
			 <p class="mb-0">Rajendra Nagar, Rau, Indore, Madhya Pradesh</p>
		   </div>
		 </div>
	   </div>
	   <div class="contact_2li row mt-4">
	     <div class="col-md-2">
		   <div class="contact_2lil text-center">
		     <span class="col_brown font_50 lh-1"><i class="fa fa-file"></i></span>
		   </div>
		 </div>
		 <div class="col-md-10">
		   <div class="contact_2lir px-4">
		     <h4>Call Or Email</h4>
			 <p class="mb-0">+91 7724005732<br>+91 9646140129<br>
<a href="mailto:shribalajiweddingsandevents@gmail.com">shribalajiweddingsandevents@gmail.com</a></p>
		   </div>
		 </div>
	   </div>
	   <div class="contact_2li row mt-4">
	     <div class="col-md-2">
		   <div class="contact_2lil text-center">
		     <span class="col_brown font_50 lh-1"><i class="fa fa-clock"></i></span>
		   </div>
		 </div>
		 <div class="col-md-10">
		   <div class="contact_2lir px-4">
		     <h4>Office Hours</h4>
			 <p class="mb-0">Mon – Sat: 9.00am to 7.00pm
  <br>
Sunday: Closed</p>
		   </div>
		 </div>
	   </div>
	 </div>
	</div>
	<div class="col-md-7">
  <form action="/contact" method="POST" onsubmit="setSuccessFlag()">
  <div class="contact_2r border_1 p-4">
    <h4>Do You Have Any Questions?</h4>

    <div class="row quote_2 mt-4">
      <div class="col-md-6">
        <input name="name" placeholder="Name*" class="form-control rounded-3" type="text" required>
      </div>
      <div class="col-md-6">
        <input name="email" placeholder="Email*" class="form-control rounded-3" type="email" required>
      </div>
    </div>

    <div class="row quote_2 mt-4">
      <div class="col-md-6">
        <input name="phone" placeholder="Phone" class="form-control rounded-3" type="text">
      </div>
      <div class="col-md-6">
        <input name="event" placeholder="Event" class="form-control rounded-3" type="text">
      </div>
    </div>

    <div class="row quote_2 mt-4">
      <div class="col-md-12">
        <input name="subject" placeholder="Subject" class="form-control rounded-3" type="text">
      </div>
    </div>

    <div class="row quote_2 mt-4">
      <div class="col-md-12">
        <textarea name="message" placeholder="Write a Message" class="form-control rounded-3 form_text" required></textarea>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <button type="submit" class="button_1 d-block text-center w-100">Send A Message</button>
      </div>
    </div>
  </div>

 
</form>

</div>

  </div>
  
 </div>
</section>

  <div class="row contact_3 mt-5">
    <div class="col-md-12">
	  <iframe 
  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3651.845926035064!2d75.7998!3d22.6135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1719740000000" 
  width="100%" 
  height="450" 
  style="border:0;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
	</div>
   </div>
<section id="footer" class="p_3 px_4">
 <div class="container-fluid">
   <div class="footer_2 row">
     <div class="col-md-8">
	  <div class="footer_2l">
        <p class="mb-0">© 2025 Shri Balaji Weddings and Events. All Rights Reserved | Design by <a class="col_brown fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	 </div>
	<div class="col-md-4">
	  <div class="footer_2r text-end">
       <ul class="text-uppercase font_13 mb-0">
		    <li class="d-inline-block"><a href="https://www.facebook.com/profile.php?id=61577781847783"> Facebook</a></li>
        <li class="d-inline-block mx-2 text-muted">|</li>
        <li class="d-inline-block"><a href="https://www.instagram.com/shribalajiweddingsandevents/"> Instagram</a></li>
			<li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block">
  <a href="mailto:shribalajiweddingsandevents@gmail.com">Email</a>
</li>

			 <li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block">
  <a href="tel:+917724005732">Call</a>
</li>

		  </ul>
	  </div>
	 </div>
   </div>
   </div>
  </div>
 </div>
</section>
<script src="js/common.js"></script>

<script>
  function setSuccessFlag() {
    localStorage.setItem('formSubmitted', 'true');
  }

  window.onload = function () {
    if (localStorage.getItem('formSubmitted') === 'true') {
      alert('✅ Message successfully sent!');
      localStorage.removeItem('formSubmitted');
    }
  };
</script>
</body>


</html>
