<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shri Balaji Weddings and Events</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	 <link href="fonts/css/fontawesome.min.css" rel="stylesheet" >
	<link href="fonts/css/brands.min.css" rel="stylesheet" />
    <link href="fonts/css/solid.min.css" rel="stylesheet" />
	<link href="css/global.css" rel="stylesheet">
	<link href="css/blog.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

 <section id="header">
<nav class="navbar navbar-expand-md navbar-light  p-0 pt-2 pb-2" id="navbar_sticky">
  <div class="container-xl">
    <a class="p-0 navbar-brand fw-bold me-0 family_1 col_red" href="/home"><i class="fa fa-heart me-1 col_brown"></i> Shri Balaji<br>
<span class="family_2 fw-normal font_14 col_brown">Weddings and Events</span>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	   <ul class="navbar-nav mb-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">About us</a>
        </li>
		
		<li class="nav-item">
          <a class="nav-link" href="/contact">Contact </a>
        </li>
      </ul>
	 
    </div>
  </div>
</nav>
</section>

<div class="center_main position-relative">
<section id="center" class="pt-5 pb-5 center_o bg_light">
 <div class="container-xl">
  <div class="row center_o1 text-center">
   <div class="col-md-12">
     <h1 class="font_50">Gallery</h1>
	 <span class="col_brown icon_dove fs-2"><i class="fa fa-dove"></i></span>
	 <ul class="mt-3 mb-0">
		    <li class="d-inline-block"> <a href="/home">Home</a></li>
			<li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block col_brown"> Gallery</li>
		  </ul>
   </div>
  </div>
 </div>
</section>

<section id="center_top">
	  <div class="container-xl">
	   <div class="row">
		<div class="col-md-12"></div>
	   </div>
	  </div>
	 </section>

   <section id="center_bottom">
  <div class="container-xl">
   <div class="row">
    <div class="col-md-12"></div>
   </div>
  </div>
 </section>
</div>

<section id="moment" class="p_3">
 <div class="container-xl">
  <div class="row moment_1">
      <div class="col-md-4">
	   <div class="moment_1l">
	     <div class="moment_1li position-relative">
		    <div class="moment_1li1">
		      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/group.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		 </div>
		    <div class="moment_1li2 position-absolute text-center">
		      <span class="fs-2"><a data-bs-target="#exampleModal1" data-bs-toggle="modal" href="#"><i class="fa fa-plus"></i></a></span>
			  
		 </div>
		 </div>
		 <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<img src="img/group.jpg" class="w-100" alt="abc">
			  </div>
			</div>
		  </div>
		</div>
	   </div>
	   <div class="moment_1l mt-3">
	     <div class="moment_1li position-relative">
		    <div class="moment_1li1">
		      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/pl.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		 </div>
		    <div class="moment_1li2 position-absolute text-center moment_1li2o">
		      <span class="fs-2"><a data-bs-target="#exampleModal2" data-bs-toggle="modal" href="#"><i class="fa fa-plus"></i></a></span>
			  
		 </div>
		 </div>
		 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<img src="img/pl.jpg" class="w-100" alt="abc">
			  </div>
			</div>
		  </div>
		</div>
	   </div>
	  </div>
	  <div class="col-md-4">
	   <div class="moment_1l">
	     <div class="moment_1li position-relative">
		    <div class="moment_1li1">
		      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/green.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		 </div>
		    <div class="moment_1li2 position-absolute text-center moment_1li2o">
		      <span class="fs-2"><a data-bs-target="#exampleModal3" data-bs-toggle="modal" href="#"><i class="fa fa-plus"></i></a></span>
			  
		 </div>
		 </div>
		 <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<img src="img/green.jpg" class="w-100" alt="abc">
			  </div>
			</div>
		  </div>
		</div>
	   </div>
	   <div class="moment_1l mt-3">
	     <div class="moment_1li position-relative">
		    <div class="moment_1li1">
		      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/op.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		 </div>
		    <div class="moment_1li2 position-absolute text-center">
		      <span class="fs-2"><a data-bs-target="#exampleModal4" data-bs-toggle="modal" href="#"><i class="fa fa-plus"></i></a></span>
			  
		 </div>
		 </div>
		 <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<img src="img/op.jpg" class="w-100" alt="abc">
			  </div>
			</div>
		  </div>
		</div>
	   </div>
	  </div>
	  <div class="col-md-4">
	   <div class="moment_1l">
	     <div class="moment_1li position-relative">
		    <div class="moment_1li1">
		      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/ip.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		 </div>
		    <div class="moment_1li2 position-absolute text-center">
		      <span class="fs-2"><a data-bs-target="#exampleModal5" data-bs-toggle="modal" href="#"><i class="fa fa-plus"></i></a></span>
			  
		 </div>
		 </div>
		 <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<img src="img/ip.jpg" class="w-100" alt="abc">
			  </div>
			</div>
		  </div>
		</div>
	   </div>
	   <div class="moment_1l mt-3">
	     <div class="moment_1li position-relative">
		    <div class="moment_1li1">
		      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/red.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		 </div>
		    <div class="moment_1li2 position-absolute text-center moment_1li2o">
		      <span class="fs-2"><a data-bs-target="#exampleModal6" data-bs-toggle="modal" href="#"><i class="fa fa-plus"></i></a></span>
			  
		 </div>
		 </div>
		 <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<img src="img/red.jpg" class="w-100" alt="abc">
			  </div>
			</div>
		  </div>
		</div>
	   </div>
	  </div>
   </div>
  </div>
 
</section>

<section id="footer" class="p_3 px_4">
 <div class="container-fluid">
   <div class="footer_2 row">
     <div class="col-md-8">
	  <div class="footer_2l">
        <p class="mb-0">© 2025 Shri Balaji Weddings and Events. All Rights Reserved | Design by <a class="col_brown fw-bold" href="https://www.instagram.com/p/DC6YKW-S85h/?hl=en">Infinite Technolgies</a></p>
	  </div>
	 </div>
	<div class="col-md-4">
	  <div class="footer_2r text-end">
       <ul class="text-uppercase font_13 mb-0">
		    <li class="d-inline-block"><a href="https://www.facebook.com/profile.php?id=61577781847783"> Facebook</a></li>
        <li class="d-inline-block mx-2 text-muted">|</li>
        <li class="d-inline-block"><a href="https://www.instagram.com/shribalajiweddingsandevents/"> Instagram</a></li>
			<li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block">
  <a href="mailto:shribalajiweddingsandevents@gmail.com">Email</a>
</li>

			 <li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block">
  <a href="tel:+917724005732">Call</a>
</li>

		  </ul>
	  </div>
	 </div>
   </div>
   </div>
  </div>
 </div>
</section>
<script src="js/common.js"></script>

</body>


</html>